



div {
    text-align: center;
  }
  
  
  div {
    margin-top: 1em;
  }
  .progress{
    height: 40px;
    margin: 0;
  }
  .contenant{
    text-align:-moz-right;
  }
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #btnSearch,
  #btnClear{
    display: inline-block;
    vertical-align: top;
  }
  
  .previous {
    float: left;
  }
  
  .next {
    float: right;
  }
  
  
  .n{
    color: #004F9B;
  }
  
  .a{
    background-image:url("..\assets\vote2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:0;
    background-attachment:scroll;
    height:1000px ;
    width:auto;
  
  }
  .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  
  
  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  
  
  
  
  
  
  
  
  
