<div class ="a" >
    <h2>Bonjour </h2>
    <div cpositon="right">
      <button class="favorite styled"
              type="button" (click)="authentification()">
        Se connecter pour voter
      </button>
  
  
  
  
  
    </div>
    <div  positon="left ">
      <button class="favorite styled"
              type="button" (click)="VoirResultat()">
        Voir  les résultats du vote
      </button>
      <router-outlet></router-outlet>
  
  
  
  
  
    </div>
  
  
  
      </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  