/* Made with love by Mutiullah Samim*/


.choix{
    color: white;
}

.container{
height: 100%;
align-content: center;
background-attachment: fixed;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}



.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.form-check form-check-inline{
    color: white;
}
.form-check-label{
    color: white;
}
.a{
   background-image:url("..\..\assets\vote2.jpg");
   background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:0;
    background-attachment:scroll;
    height:1000px ;
     width:auto;

}
