<div class ="a" >
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 >Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">

                        <input type="text" class="form-control"  name="IdUtilisateur"
                            placeholder="Username" required>
                    </div>


                    <input type="password" class="form-control"  name="IdUtilisateur"
                        placeholder="Password" required> <br>









                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">



                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
</div>
