



div {
  text-align: center;
}


div {
  margin-top: 1em;
}
.progress{
  height: 40px;
  margin: 0;
}
.contenant{
  text-align:-moz-right;
}
.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#btnSearch,
#btnClear{
  display: inline-block;
  vertical-align: top;
}

.previous {
  float: left;
}

.next {
  float: right;
}


.n{
  color: #004F9B;
}

.a{
  background-image:url("..\..\assets\vote2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin:0;
  background-attachment:scroll;
  height:1000px ;
  width:auto;

}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
  inset -2px -2px 3px rgba(0, 0, 0, .6);
}



.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* Made with love by Mutiullah Samim*/


.choix{
  color: white;
}

.container{
height: 100%;
align-content: center;
background-attachment: fixed;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}



.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.form-check form-check-inline{
  color: white;
}
.form-check-label{
  color: white;
}
.a{
 background-image:url("..\..\assets\vote2.jpg");
 background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin:0;
  background-attachment:scroll;
  height:1000px ;
   width:auto;

}







